
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RegisterViewModel
<h1 alagin="center">Register</h1>
<br />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/register/vendor/register/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/register/vendor/register/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/register/vendor/register/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/register/vendor/register/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/register/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form asp-action="RegisterConfirm" asp-controller="Account">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" asp-for="firstname" >
                                    
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" asp-for="lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" value="true" asp-for="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" value="false" asp-for="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email/Username</label>
                                    <input class="input--style-4" type="email" asp-for="username">
                                    <span asp-validation-for="username"></span>
                                </div>
                            </div>
                             <div class="col-2">
                                <div class="input-group">  
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" asp-for="password">
                                    <span asp-validation-for="password"></span>
                                </div>
                            </div>
                           
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">RePassword</label>
                                    <input class="input--style-4" type="password" asp-for="repassword">
                                    <span asp-validation-for="repassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
    <!-- Jquery JS-->
    <script src="~/register/vendor/register/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/register/vendor/select2/select2.min.js"></script>
    <script src="~/register/vendor/datepicker/moment.min.js"></script>
    <script src="~/register/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/register/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->