
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Reader</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  @inject UserManager<ApplicationUser> userManager;
  <!-- Favicons -->
  <link href="~/layout/img/favicon.png" rel="icon">
  <link href="~/layout/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="~/layout/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="~/layout/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="~/layout/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
           <li class="menu-has-children"><a href="">Menu</a>
            <ul>
              <li><a href="#">PDF Books</a></li>
              <li class="menu-has-children"><a href="#">Book Menu</a>
                <ul>
                  <li><a asp-action="insertbook" asp-controller="book">Insert Book</a></li>
                  <li><a asp-action="BookList" asp-controller="book" >Book List</a></li>
                </ul>
              </li>
            </ul>
          </li>
           <li class="menu-has-children"><a href="">
                            @if(User.Identity.IsAuthenticated == true)
                            {
                                ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                                @($"{user.firstname} {user.lastname}")
                            }else
                            {
                                @("Guest")
                            }
                        </a>
                           
                      
               <ul>
             
                                @if (User.Identity.IsAuthenticated == false)
                                {
                                  <li> <a asp-action="register" asp-controller="account">Register</a></li> 
                                }else{

                                    <li><a asp-action="EditProfile" asp-controller="account">Profile</a></li>
                                }

                                
             @if(User.Identity.IsAuthenticated == false){
                                <li><a asp-action="login" asp-controller="account">Login</a></li>
                            }
                            else
                            {
                                 <li><a asp-action="Logout" asp-controller="account">Log out</a></li>
                            }
                        </ul>
          </li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
    
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">
      
      @RenderBody()
   
    
    

   

    
    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
    

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

              <div>
                <i class="fa fa-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="~/layout/lib/jquery/jquery.min.js"></script>
  <script src="~/layout/lib/jquery/jquery-migrate.min.js"></script>
  <script src="~/layout/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/layout/lib/easing/easing.min.js"></script>
  <script src="~/layout/lib/wow/wow.min.js"></script>
  <script src="~/layout/lib/waypoints/waypoints.min.js"></script>
  <script src="~/layout/lib/counterup/counterup.min.js"></script>
  <script src="~/layout/lib/superfish/hoverIntent.js"></script>
  <script src="~/layout/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="~/layout/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="~/layout/js/main.js"></script>

  @if(TempData["msg"] != null)
    {
        <div class="modal fade" id="modalMessage">
            <div class="modal-dialog"> 
                <div class="modal-content">
                    <div class="modal-header" style="background-color: yellow">
                        <h3>System Message</h3>
                    </div>
                    <div>
                        @TempData["msg"]
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(modalMessage).modal()  
        </Script>
    }

</body>
</html>
